<div class="view-service-container container">
  <div class="row header-options">

      <div class="col-6 text-center left"
           (click)="descriptionFlag = !descriptionFlag">
        Descrição
      </div>
      <div class="col-6 text-center"
           (click)="descriptionFlag = !descriptionFlag">
        Eventos
      </div>

  </div>

  <div class="body">
    <app-service-description *ngIf="descriptionFlag"></app-service-description>
    <app-service-events *ngIf="!descriptionFlag"></app-service-events>
  </div>

</div>