<div class="list-service-container">

  <div class="list-service-search">
    <form class="form-row">

      <div class="col-12 form-group">
        <label for="name">Pesquisar por nome</label>
        <input type="text" name="name" class="form-control"
         placeholder="Digite o nome que queira pesquisar">
      </div>

      <div class="col-12 form-group">
        <label for="client-name">Pesquisar por Cliente</label>
        <input type="text" name="client-name" class="form-control"
        placeholder="Digite o nome do cliente">
      </div>

      <div class="col-6 form-group">
        <label for="client-name">Data Inical</label>
        <input type="date" name="inital-date" class="form-control">
      </div>

      <div class="col-6 form-group">
        <label for="client-name">DataInical</label>
        <input type="date" name="final-date" class="form-control">
      </div>


    </form>

    <div class="button-search">
      <button type="button" name="button">Pesquisar</button>
    </div>

  </div>

  <div class="list-service-result">
    <h5>Resultado</h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Cliente</th>
          <th scope="col">Prazo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Motor quantico</td>
          <td>Antonio</td>
          <td>25/05/2019</td>
        </tr>
        <tr>
          <td>Motor quantico</td>
          <td>Antonio</td>
          <td>25/05/2019</td>
        </tr>
        <tr>
          <td>Motor quantico</td>
          <td>Antonio</td>
          <td>25/05/2019</td>
        </tr>
        <tr>
          <td>Motor quantico</td>
          <td>Antonio</td>
          <td>25/05/2019</td>
        </tr>
        <tr>
          <td>Motor quantico</td>
          <td>Antonio</td>
          <td>25/05/2019</td>
        </tr>
        <tr>
          <td>Motor quantico</td>
          <td>Antonio</td>
          <td>25/05/2019</td>
        </tr>
        <tr>
          <td>Motor quantico</td>
          <td>Antonio</td>
          <td>25/05/2019</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
