<div class="container-login">

  <!-- Logo -->
  <div class="login-logo">
    <!-- alt="Logo brand for aplication/plataform" -->
    <img src="https://t3.ftcdn.net/jpg/00/88/96/52/240_F_88965262_yfIiFoobzJS07c0VrHZGyj9bkyhT6qdv.jpg" alt="Logo marca da plataforma">
  </div>

  <!-- Form login -->
  <div class="login-form">
    <form class="form-row login-card">
      <div class="col-12 form-group">
        <label for="login">Login</label>
        <input class="form-control" type="text"  name="login" placeholder="your login">
      </div>
      <div class="col-12 form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" placeholder="your password">
      </div>
    </form>
    <!-- Buttons Login -->
    <div class="login-Buttons">
      <button class="form-control" type="button" name="button">Login</button>
      <button class="form-control" type="button" name="button">Register</button>
    </div>

  </div>


</div>
